body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #F0EBE3;
}

#div-container {
    width: 750px;
    height: 750px;
    border-style: solid;
    display: flex;
    margin: 0px 200px;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.row {
    display: flex;
    flex: 1;
    border: 1px solid black;
}

.colored {
    background-color: cadetblue;
}

#start-btn {
    border: 2px solid cadetblue;
    font-size: 24px;
    background-color: #E4DCCF;
    border-radius: 7px;
    padding: 6px 28px;
    color: cadetblue;
    cursor: pointer;
    font-weight: bold;
}

#start-btn:hover{
    background-color: cadetblue;
    color: #E4DCCF;
    border: 2px solid cadetblue;


}
