#div-container {
    width: 750px;
    height: 750px;
    border-style: solid;
    display: flex;
}

#squere {
    border: solid;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.row {
    display: flex;
    flex: 1;
    border: 1px solid black;
}

.colored {
    background-color: cadetblue;
}
